results/
.snakemake/
repaired_fastq/
skmer_[0-9]*/
skmer_smk2_[0-9]*/
!skmer_smk2/
!skmer_smk2/**
.skmer_smk2_workflow/
build/
dist/
*.egg-info/
*.log
*.err
*.out
*.fq
*.fastq
*.fq.gz
*.fastq.gz
*.sam
*.bam
*.bt2
*.msh
ref/
!raw_data/
!raw_data/**
!raw_data/**/*.fq.gz
!raw_data/**/*.fastq.gz
!raw_data/**/*.fna
!raw_data/**/*.fa
!raw_data/**/*.fasta
__pycache__/
*.pyc
